/* 01 Properti Border */
order : [ukuran] [jenis] [warna]
/* Mengatur border pada elemen div dengan id "contoh" */
#contoh {
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }



/* 02 Jenis Border */
/* Mengatur border dengan jenis dashed */
#contoh {
    border-style: dashed;
  }




/* 03 Ukuran Border */
/* Mengatur border dengan ukuran 2 piksel */
#contoh {
    border-width: 2px;
  }




/* 04 Warna Border */
/* Mengatur border dengan warna hitam */
#contoh {
    border-color: black;
  }


  